<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>
<body>

<div id="name">
	<p style="margin-left: 14em; margin-top: 2em;" id="username"></p>
</div>

<div class="container">
  <p>Items List</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Price</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody id="item_body">
    </tbody>
  </table>
</div>

<div style="margin-left: 14em">
<button class="button">Share</button>
<button class="button">Rent</button>
</br>
<a href="/logout">Logout</a>
</div>

<div id="form-auction" style="margin-left: 14em">
	<h3 style="font-family: monospace; text-align: center; margin-bottom: 1em; margin-left: -48em">Auction Section</h1>
	<form method="post" action="/auction">
	    <input type="text" placeholder="itemid" name="itemid" id="itemid"><br>
	    <input type="password" placeholder="price" name="price" id="price"><br>
	    <input type="submit" value="Add for Auction">
	</form>
</div>

</body>
</html>